@import '../abstracts/variables';

footer {
    margin-top: auto;
    background-color: $color-primary;
    color: $color-white;
    padding: $spacing-base;
    text-align: center;
    font-size: $font-size-sm;
    border-top: $border-width solid darken($color-primary, 10%);
}

