@import '../abstracts/variables';
@import '../abstracts/mixins';

header {
    background-color: $color-primary;
    color: $color-white;
    padding: $spacing-base;
    @include flex-between;

    .homeBtn {
        color: $color-white;
        text-decoration: none;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        @include transition(opacity);

        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }

    nav {
        @include flex-center;
        gap: $spacing-lg;

        a {
            color: $color-white;
            text-decoration: none;
            font-weight: $font-weight-normal;
            @include transition;

            &:hover {
                color: $color-gray-light;
                text-decoration: underline;
            }
        }
    }
}

